.viewBoxer__Header {
    display: flex;
    height: 25vh;
    min-height: 200px;
    background-size: cover;
    justify-content: center !important;
}

.viewBoxer__ModalHeader {
    border-bottom: none !important;
}

.viewBoxer__titleName {
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 3px 20px;
}

.viewBoxer__titleName > h1 {
    font-weight: 600;
    font-size: 70px;
    color: white;
}

.viewBoxer__data {
    display: flex;
    justify-content: space-between;
}

.viewBoxer__dataLeft {
    width: 50%;
    text-align: left;
    margin-left: 60px;
}

.viewBoxer__dataRight {
    width: 50%;
    text-align: right;
    margin-right: 60px;
}

.viewBoxer__dataRight > h4 {
    margin-top: 4px;
}

.viewBoxer__dataLeft > h4 {
    margin-top: 4px;
    margin-bottom: 0;
}

.viewBoxer__info {
    height: 40vh;
    min-height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 121, 121);
}

.viewBoxer__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
